container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python lyrify/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "lyrify.settings"
    PYTHONPATH: "/opt/python/current/app/lyrify:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "lyrify/lyrify/wsgi.py"
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"