<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div style="padding-left:75px;margin-top:100px;">
<div class="card-panel grey lighten-1 z-depth-4" style="opacity:0.9;width:1200px;">
<div style="padding-left:50px;padding-top:30px">
<div class="row">
<div class="col s3">
</br></br></br>	         
<img class=" responsive-img z-depth-4" src="{% static "img/me_new.jpg" %}" width=180px height=180px>
<div class="row"><br><h5>Sidharth Kumar</h5>
<medium>sidharth6323@gmail.com</medium><br>&nbsp&nbsp&nbsp
<a href="https://web.facebook.com/sidharth.kumar.98031"><img  src="{% static "img/fb.png" %}" width="35px" height="35px" style="padding-top:10px;" class="circle responsive-img"></a>&nbsp&nbsp&nbsp
<a href="http://www.twitter.com"><img  style="padding-top:10px;" src="{% static "img/twitter.png" %}" width="35px" height="35px" class="circle responsive-img"></a>&nbsp&nbsp
<a href="https://plus.google.com/u/0/101427610730191866320"><img  style="padding-top:10px;" src="{% static "img/google.png" %}" width="35px" height="35px" class="circle responsive-img"></a>
</div>
</div>
<div class="s2">
<i class="snall material-icons">perm_identity</i>
<span style="font-family:bonvenoCF; font-size:30px;">&nbspAbout Me</span>
</div>
<div class="s2">
	<span style=" font-size:20px;">
	</br>
      A full stack web developer having sound knowledge of developing web apps through Django (python) as backend (creating API's, handling database etc.).And using html, css, js, jquery,ajax, angularjs,bootstrap, mdl and materializecss for frontend.
    </span>
    </br></br></br>
    <i class="snall material-icons">class </i>
    <span style="font-family:bonvenoCF; font-size:30px;">&nbspProjects and Achievements</span>
	<br><br><blockquote style="margin-left:280px">
      <span style="font-size:23px;">Cricomp.com [ongoing]</span><br>
Developing the backend of a website of a startup based in Delhi.<br><br>
<span style="font-size:23px;">Hostel Management System</span><br>
Developed a full-fledged Django based web application for managing the database of all the hostilities in the college.<br>
<a href="https://youtu.be/9q9smOs5M_c">[Project Description Video]</a>  <br><br> 
<span style="font-size:23px;">IEEE International Paper presentation</span><br>
Got selected in IEEE paper presentation for idea paper.
<br><br> 
<span style="font-size:23px;">Hackerank University world cup</span><br>
Amongst the finalists of Hackerank University Worldcup
    </blockquote>
	
</div>

</div>
        </div>

{% endblock %}

</html>